.dropxclick-tab{
    color: #fff;
    height: 24px;
    text-align: center;
    background-color: #ff3b42;
    border-top-left-radius: 4px;
    position: absolute;
    display: block;
    left: -12px;
    cursor: pointer;
    border-top-right-radius: 4px;
    top: 356px;
    width: 184px;
    border-bottom: 0px;
    color: #fff;
    font-size: 12px !important;
    text-transform: uppercase;
    line-height: 24px;
}
.dropxmain-wrap{
    position: fixed;
    right: -358px;
    width: 358px;
    top: 0;
    z-index: 2147483647 !important;

    background-color: #fff; 
    height: 100vh;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
    box-shadow: 0px 1px  8px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 1px  8px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 1px  8px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0px 1px  8px rgba(0, 0, 0, 0.6);
}
.dropxrotate {
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}
.dropxiframe123{
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
}
.dropxanimate{
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
}


/*flipkart css
.flipkart .click-tab{
    background-color: #FDD922;
    border: 1px solid #E0BC27;
    border-bottom: 0px;
    color: #565656;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 24px;
    }
flipkart css

amazon css
.amazon .click-tab{
      background: #f3ce72;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF8E3AD', endColorstr='#FFEEBA37', GradientType=0);
    background: linear-gradient(to bottom,#f8e3ad,#eeba37);
    background: -moz-linear-gradient(top,#f8e3ad,#eeba37);
    background: -webkit-linear-gradient(top,#f8e3ad,#eeba37);
    background: -o-linear-gradient(top,#f8e3ad,#eeba37);
    background: -ms-linear-gradient(top,#f8e3ad,#eeba37);
    border: 1px solid #E0BC27;
    border-bottom: 0px;
    color: #232f3e;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 24px;
    }
amazon css

ebay css
.ebay .click-tab{
    text-decoration: none;
    background: #00509d;
    background: -webkit-gradient(linear,left top,left bottom,from(#0079bc),to(#00509d));
    background: -moz-linear-gradient(top,#0079bc,#00509d);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0079bc',endColorstr='#00509d');
    border-bottom: 0px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 24px;
    }
ebay css

infibeam css
.infibeam .click-tab{
    text-decoration: none;
    background: #666;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 24px;
    }
infibeam css

indiatimes css
.indiatimes .click-tab{
    text-decoration: none;
    background: #F06752;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 24px;
    }
indiatimes css

homeshop css
.homeshop .click-tab{
    text-decoration: none;
    background: #CB0101;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 24px;
    }
homeshop css

shopclues css
.shopclues .click-tab{
    text-decoration: none;
    background: #00a2b5;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 24px;
    }
shopclues css

snapdeal css
.snapdeal .click-tab{
    text-decoration: none;
    background: #0087E6;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 24px;
    }
snapdeal css*/
    
    

